body{
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: #E67E22;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

h1, h2{
	font-family: 'Fjalla One', sans-serif;
}

/* header styles */

header h1{
	color: white;
	font-size: 30px;
}

header img{
	border-radius: 170px;
    width: 300px;
    border: 20px solid white;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px
}

main img{
	max-width: 100%
}

h2{
	font-size: 30px;
	color: #E67E22;
	margin: 40px 0 10px;
}

a{
	color: #E67E22;
	font-family: 'Shadows Into Light', cursive;
	font-size: 25px
}
a:hover{
	color: white;
	background-color: #140B97
}

footer{
	background-color: #E67E22;
	text-align: center;
	color: white;
	padding: 10px;
}

footer p{
	margin: 0;
}
footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}

